<div class="row d-flex justify-content-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 d-flex justify-content-center">
        <form class="card" [formGroup]="changeForm" (ngSubmit)="onChange()">
            <div class="m-3">
                <h2>Change Password</h2>
                <input type="text" placeholder="New Password" class="form-control" formControlName="Password">
                <input type="text" placeholder="Confirm Password" class="form-control mt-2"
                    formControlName="ConfirmPassword">
                <button tupe="submit" class="btn btn-primary mt-2">Change Password</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>