<div class="d-flex justify-content-end">
    <button class="btn btn-primary m-2" routerLink="/viewExam" *ngIf="backButton"><i class="fas fa-backward m-2"></i>Go
        Back</button>
</div>
<div class="card mt-4" *ngFor="let viewExamDetail of viewExamDeatils">
    <div class="card-header">
        <h3>{{viewExamDetail.question | titlecase}}</h3>
    </div>
    <div class="card-body">
        <!-- <div *ngFor="let option of viewExamDetail.options">
            <p class="card-title">{{option}}</p>
        </div> -->
        <p class="card-title w-50">(a) {{viewExamDetail.options[0]}}</p>
        <p class="card-title w-50">(b) {{viewExamDetail.options[1]}}</p>
        <p class="card-title w-50">(c) {{viewExamDetail.options[2]}}</p>
        <p class="card-title w-50">(d) {{viewExamDetail.options[3]}}</p>
        <h5 class="card-text">Answer:- {{viewExamDetail.answer}}</h5>
    </div>
</div>
<!-- <ngx-spinner></ngx-spinner> -->