<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: white"> Wait Loading... </p>
</ngx-spinner>
<div class="row d-flex justify-content-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 card custom-color">
        <form [formGroup]="myForm" (ngSubmit)="sendEmail()">
            <input type="email" name="email" class="form-control mt-5" formControlName="email"
                placeholder="Enter Email">
            <div class="text-danger" *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']">
                Eamil is required
            </div>
            <div class="text-danger" *ngIf="fControl['email'].dirty && fControl['email'].errors?.['email']">
                Eamil is not valid
            </div>
            <p *ngIf="errorMessage" class="text-danger">Please Enter Email Address</p>
            <div class="d-flex justify-content-center m-3">
                <button type="submit" class="btn btn-custom-color">Forgot</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>