<div class="custom-width-height d-flex justify-content-center">
    <form class="m-2" [formGroup]="myForm" (ngSubmit)="sendEmail()">
        <input type="email" name="email" class="form-control mt-5" formControlName="email" placeholder="Enter Email">
        <div class="text-danger" *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']">
            Eamil is required
        </div>
        <div class="text-danger" *ngIf="fControl['email'].touched && fControl['email'].errors?.['email']">
            Eamil is not valid
        </div>
        <!-- <button type="submit" class="btn btn-primary ms-5" (click)="sendEmail()">Forgot</button> -->
        <button type="submit" class="btn btn-primary ms-5">Forgot</button>
    </form>
    <!-- <div>
        <input type="email" name="email" class="form-control mt-5" [(ngModel)]="myForm" placeholder="Enter Email">
        <button type="submit" class="btn btn-primary ms-5" (click)="sendEmail()">Forgot</button>
    </div> -->
</div>