<button class="btn btn-primary m-3" (click)="changeExam()" *ngIf="updateButton">Update Exam</button>
<button class="btn btn-primary m-3" routerLink="/viewExam" *ngIf="updateButton">Go Back</button>
<!-- <div>
    <form formGroup="myForm">
        <input type="text" class="form-control" formControlName="subjectName">
    </form>
</div> -->
<div class="card mt-4" *ngFor="let viewExamDetail of viewExamDeatils; let i=index;">
    <div class="card-header">
        <h3>{{i+1}}:- <input type="text" class="form-control" value="{{viewExamDetail.question}}"></h3>
    </div>
    <div class="card-body d-flex">
        <div class="d-flex w-50">
            <p class="card-title">(a)
            </p>
            <input type="text" class="form-control" value="{{viewExamDetail.options[0]}}">
        </div>
        <div class="d-flex w-50">
            <p class="card-title">(b)
            </p>
            <input type="text" class="form-control" value="{{viewExamDetail.options[1]}}">
        </div>
        <div class="d-flex w-50">
            <p class="card-title">(c)
            </p>
            <input type="text" class="form-control" value="{{viewExamDetail.options[2]}}">
        </div>
        <div class="d-flex w-50">
            <p class="card-title">(d)
            </p>
            <input type="text" class="form-control" value="{{viewExamDetail.options[3]}}">
        </div>
    </div>
    <div class="form-group m-3 d-flex">
        <h5 class="card-text">Answer:-</h5>
        <input type="text" class="form-control w-25" value="{{viewExamDetail.answer}}">
    </div>
</div>