<div class="card mt-4 d-flex">
        <div class="card-header">Teacher Home Page</div>
        <div class="card-body">
                <h2>Hello,{{name}}</h2>
                <p>Your Email Id:- {{email}}</p>
                <div class="d-flex flex-wrap">
                        <div class="mt-2">
                                <button type="button" class="btn btn-primary me-2" routerLink="studentList">Student List
                                        <i class="fas fa-arrow-right ms-2"></i>
                                </button>
                        </div>
                        <div class="mt-2">
                                <button type="button" class="btn btn-primary me-2" routerLink="createExam">Create Exam
                                        <i class="fas fa-arrow-right ms-2"></i>
                                </button>
                        </div>
                        <div class="mt-2">
                                <button type="button" class="btn btn-primary me-2" routerLink="viewExam">View Exam List
                                        <i class="fas fa-arrow-right ms-2"></i>
                                </button>
                        </div>
                        <div class="mt-2">
                                <button type="button" class="btn btn-primary me-2" routerLink="verifyStudent">Verify
                                        Student
                                        List<i class="fas fa-arrow-right ms-2"></i>
                                </button>
                        </div>
                </div>
        </div>
</div>
<!-- <div class="card c-image" style="width: 18rem;" *ngFor="let card of cards">
        <img [src]="card.image" class="card-img-top" alt="...">
        <div class="card-body c-text">
                <h5 class="card-title">{{card.title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                <a href="#" class="btn btn-primary">{{card.button}}</a>
        </div>
</div> -->