<div class="row d-flex justify-content-center flex-wrap">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 d-flex justify-content-center card">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
            <div class="m-3">
                <h2>Reset Password</h2>
                <input type="password" placeholder="Old Password" class="form-control" formControlName="oldPassword">
                <div class="text-danger"
                    *ngIf="fControl['oldPassword'].touched && fControl['oldPassword'].errors?.['required']">
                    Old Password is required
                </div>
                <input type="password" placeholder="New Password" class="form-control mt-2" formControlName="Password">
                <div class="text-danger"
                    *ngIf="fControl['Password'].touched && fControl['Password'].errors?.['required']">
                    Password is required
                </div>
                <div class="text-danger"
                    *ngIf="fControl['Password'].dirty && fControl['Password'].errors?.['minlength']">
                    Please Enter Minimum 6.
                </div>
                <input type="text" placeholder="Confirm Password" class="form-control mt-2"
                    formControlName="ConfirmPassword">
                <div class="text-danger"
                    *ngIf="fControl['ConfirmPassword'].touched && fControl['ConfirmPassword'].errors?.['required']">
                    Confirm Password is required
                </div>
                <div class="text-danger"
                    *ngIf="fControl['ConfirmPassword'].dirty && fControl['ConfirmPassword'].errors?.['minlength']">
                    Confirm Password is length 6.
                </div>
                <button tupe="submit" class="btn btn-primary mt-2">Change
                    Password</button>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>