<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let verifyData of verifyDatas">
            <td>{{verifyData.status}}</td>
            <td>{{verifyData._id}}</td>
            <td>{{verifyData.name}}</td>
            <td>{{verifyData.email}}</td>
        </tr>
    </tbody>
</table>