<div class="card mt-4">
    <div class="card-header">
        Student Home Page
    </div>
    <div class="card-body">
        <h2>Hello,{{name}}</h2>
        <p>Your Email Id:- {{email}}</p>
        <div class="d-flex flex-wrap">
            <div class="mt-2">
                <button type="button" class="btn btn-primary me-2" routerLink="profile">Student Profile
                    <i class="fas fa-arrow-right ms-2"></i></button>
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-primary me-2" routerLink="allExamList">All Exam List
                    <i class="fas fa-arrow-right ms-2"></i></button>
            </div>
        </div>
    </div>
</div>