<!-- <div class="accordion mt-3" id="accordionExample" *ngFor="let viewExamList of viewExamLists">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{viewExamList.subjectName}}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table>
                    <tr>
                        <td class="list-group-item">Email :- {{viewExamList.email}}</td>
                        <td class="list-group-item">Id :- {{viewExamList._id}}</td>
                        <td class="list-group-item">Note :- {{viewExamList.notes}}</td>
                        <td class="list-group-item">V :- {{viewExamList.__v}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- Button trigger modal -->
<div class="d-flex justify-content-end">
    <button class="btn btn-primary m-2" routerLink="/teacher" *ngIf="backButton"><i class="fas fa-backward m-2"></i>Go
        Back</button>
</div>
<div *ngFor="let viewExamList of viewExamLists">
    <div class="m-2">
        <button class="alert alert-success w-100 d-flex justify-content-between" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" aria-expanded="true" aria-controls="collapseOne"
            (click)="open(viewExamList._id)">
            {{viewExamList.subjectName}}<i class="fas fa-eye fs-3"></i>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">{{subjectName}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Email:- {{email}}</p>
                    <p>Id:- {{id}}</p>
                    <p>Notes:- {{note}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-warning" data-bs-dismiss="modal" [routerLink]="['/editExam/'+id]">Edit Exam</a>
                    <button class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/viewExamDetail/'+id]">View
                        Exam Detail</button>
                    <a class="btn btn-danger" data-bs-dismiss="modal" (click)="deletePaper(id)">Delete Exam</a>
                </div>
            </div>
        </div>
    </div>
</div>